
                                            <div class="row">
                                                <div class="col-lg-3 col-md-6">
                                                    <div class="card" style="background-color: whitesmoke;">
                                                        <div class="card-body">
                                                            
                                                            <div class="text-end">



                                                                <a id="<%=doc[i].doc_id%>" class="btn btn-info"
                                                                    data-bs-toggle="modal"
                                                                    data-bs-target="#edit-doc-modal"
                                                                    onclick="editdoc1(this.id)" href="#"><i
                                                                        class="ti-pencil-alt">
                                                                        แก้ไขเอกสาร</i></a>

                                                                <form action="/updatedoc/<%=doc[0].doc_id%>"
                                                                    method="POST">
                                                                    <div id="edit-doc-modal" class="modal fade"
                                                                        tabindex="-1"
                                                                        aria-labelledby="edit-header-modalLabel"
                                                                        aria-hidden="true" style="display: none;">
                                                                        <div class="modal-dialog">
                                                                            <div class="modal-content">
                                                                                <div
                                                                                    class="modal-header modal-colored-header bg-info text-white">
                                                                                    <h4 class="modal-title"
                                                                                        id="info-header-modalLabel">
                                                                                        แก้ไขเอกสาร
                                                                                    </h4>
                                                                                    <button type="button"
                                                                                        class="btn-close"
                                                                                        data-bs-dismiss="modal"
                                                                                        aria-label="Close"></button>
                                                                                </div>
                                                                                <div align="left" class="modal-body">

                                                                                    <div id="editdoc">

                                                                                    </div>
                                                                                </div>
                                                                                <div class="modal-footer">
                                                                                    <button type="button"
                                                                                        class="btn btn-light"
                                                                                        data-bs-dismiss="modal">ปิด</button>
                                                                                    <button type="submit"
                                                                                        class="btn btn-light-info text-info font-weight-medium">แก้ไขเอกสาร</button>
                                                                                </div>
                                                                            </div><!-- /.modal-content -->
                                                                        <!-- </div>
                                                                    </div>
                                                                </form>

                                                                <a id="<%=doc[i].doc_id%>" class="btn btn-danger"
                                                                    data-bs-toggle="modal"
                                                                    data-bs-target="#delete-doc-modal"
                                                                    onclick="deletedoc(this.id)" href="#"><i
                                                                        class="ti-pencil-alt">
                                                                        ลบเอกสาร</i></a>

                                                                <form action="/deletedoc/<%=doc[0].doc_id%>"
                                                                    method="POST">
                                                                    <div id="delete-doc-modal" class="modal fade"
                                                                        tabindex="-1"
                                                                        aria-labelledby="delete-header-modalLabel"
                                                                        aria-hidden="true" style="display: none;">
                                                                        <div class="modal-dialog">
                                                                            <div class="modal-content">
                                                                                <div
                                                                                    class="modal-header modal-colored-header bg-info text-white">
                                                                                    <h4 class="modal-title"
                                                                                        id="info-header-modalLabel">
                                                                                        ยืนยันการลบเอกสาร
                                                                                    </h4>
                                                                                    <button type="button"
                                                                                        class="btn-close"
                                                                                        data-bs-dismiss="modal"
                                                                                        aria-label="Close"></button>
                                                                                </div>
                                                                                <div align="left" class="modal-body">

                                                                                    <div id="deletedoc">

                                                                                    </div>
                                                                                    <div id="">

                                                                                    </div>
                                                                                </div>
                                                                                <div class="modal-footer">
                                                                                    <button type="button"
                                                                                        class="btn btn-light"
                                                                                        data-bs-dismiss="modal">ปิด</button>
                                                                                    <button type="submit"
                                                                                        class="btn btn-light-info text-info font-weight-medium">ลบเอกสาร</button>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>


                                                    </div>
                                                </div>
                                            </div> 
                                   