<%- include('../_header') -%>

    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-5 align-self-center">

                <h3 class="page-title"> หน้ากระดาษ </h3>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/index">หน้าหลัก</a></li>
                            <li class="breadcrumb-item"><a href="/index">ข้อมูลเอกสาร</a></li>
                            <li class="breadcrumb-item">หน้ากระดาษ</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <script src="/UI/assets/libs/jquery/dist/jquery.min.js"></script>
    <%- include('../_footer_policy') -%>