<%- include('../_header') -%>

    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-6 align-self-center">
                <h3 class="page-title">ข้อมูลการติดตั้ง</h3><br>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/index2">หน้าหลัก</a></li>
                            <li class="breadcrumb-item"><a href="/index2">การจัดการระบบ</a></li>
                            <li class="breadcrumb-item active" aria-current="page">ข้อมูลการติดตั้ง</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="border-bottom title-part-padding">
                        <h4 class="card-title mb-0">ข้อมูลการติดตั้ง</h4>
                    </div>
                    <div class="card-body ">
                        <table class="table tablesaw table-striped table-bordered">
                            <thead style="font-size: 15px;">
                                <tr>
                                    <th colspan="3">
                                        <h5>รองรับบุคคลที่เกี่ยวข้องกับ PDPA</h5>
                                    </th>
                                </tr>
                                <tr>
                                    <th style="width: 78%;background-color: #80808061;">
                                        <h5>ผู้ควบคุมข้อมูลส่วนบุคคล</h5>
                                    </th>
                                    <td>
                                        <label class="text-success"> เริ่มต้น 1 user / 1 หน่วยงาน</label> (เพิ่มได้)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        - ผู้ประมวลผลข้อมูลส่วนบุคคล (Optional)
                                    </td>
                                    <td>
                                        (เพิ่มได้)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        - เจ้าหน้าที่ควบคุมข้อมูลส่วนบุคคล (DPO) (Optional)
                                    </td>
                                    <td>
                                        (เพิ่มได้)
                                    </td>
                                </tr>
                                <tr>
                                    <th style="background-color: #80808061;">
                                        <h5>จำนวนเจ้าของข้อมูลส่วนบุคคล</h5>
                                    </th>
                                    <td>
                                        <label class="text-success">
                                            ไม่จำกัด
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <th colspan="3">
                                        <h5>
                                            1.โปรแกรมทำ PDPA Basic Function PDPA
                                            เพื่อทำให้ผู้ควบคุมข้อมูลส่วนบุคคลที่ต้องจัดทำ RoPA
                                            ทำครบตามหน้าที่ตามที่กฏหมายกำหนด
                                        </h5>
                                    </th>
                                </tr>
                                <tr>
                                    <th style="background-color: #ff95ca;">
                                        Policy Doc ระบบแชร์เอกสาร API , แชร์ Link URL ในรูปเอกสารดิจิตอล
                                        สามารถนำไปใช้กับโปรแกรมหรือนำไปสร้างเป็น QR Code ได
                                    </th>
                                    <td>
                                        <label class="text-success">
                                            มี
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <th style="background-color: #ff95ca;">
                                        เอกสารแม่แบบสำหรับทำ PDPA 18 รายการ
                                    </th>
                                    <td>
                                        <label class="text-success">
                                            มี
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        ⁃ นโยบายการคุ้มครองข้อมูลส่วนบุคคล (Privacy Policy)<br>
                                        ⁃ คำประกาศเกี่ยวกับความเป็นส่วนตัว (Privacy Notice)<br>
                                        ⁃ Cookies Policy<br>
                                        ⁃ คำประกาศเกี่ยวกับความเป็นส่วนตัวในการใช้กล้องวงจรปิด (CCTV Privacy Notice)<br>
                                        ⁃ ประกาศคุ้มครองข้อมูลส่วนบุคคลในการใช้กล้องวงจรปิด<br>
                                        ⁃ แบบฟอร์มใบสมัครงาน<br>
                                        ⁃ สัญญาจ้างปฏิบัติงาน<br>
                                        ⁃ คำประกาศเกี่ยวกับความเป็นส่วนตัวสำหรับผู้สมัครงานและผู้ปฏิบัติงาน<br>
                                        ⁃ ประกาศการคุ้มครองข้อมูลส่วนบุคคลในข้อสัญญาจ้างงาน (แนบท้ายสัญญา)<br>
                                        ⁃ ข้อตกลงการเป็นผู้ควบคุมข้อมูลส่วนบุคคลร่วม (Joint Controller Agreement)<br>
                                        ⁃ ข้อตกลงการแบ่งปันข้อมูลส่วนบุคคล (Personal Data Sharing Agreement)<br>
                                        ⁃ ข้อตกลงการประมวลผลข้อมูลส่วนบุคคล<br>
                                        ⁃ เอกสารแสดงความยินยอม<br>
                                        ⁃ แบบคำร้องขอใช้สิทธิของเจ้าของข้อมูลส่วนบุคคล (Data Subject Rights Request
                                        Form)<br>
                                        ⁃ หนังสือตอบกลับการใช้สิทธิของเจ้าของข้อมูลส่วนบุคคล (Data Subject Rights
                                        Responding)<br>
                                        ⁃ หนังสือแจ้งเหตุการละเมิดข้อมูลส่วนบุคคล (Personal Data Breach
                                        Notification)<br>
                                        ⁃ บันทึกรายการประมวลผลข้อมูลส่วนบุคคล<br>
                                        ⁃ บันทึกรายการของกิจกรรมการประมวลผลข้อมูลส่วนบุคคล (Record of Processing
                                        Activities: ROPA) สำหรับผู้ควบคุมข้อมูลส่วนบุคคล<br>
                                        ⁃ บันทึกรายการของกิจกรรมการประมวลผลข้อมูลส่วนบุคคล (Record of Processing
                                        Activities: ROPA) สําหรับผู้ประมวลผลข้อมูลส่วนบุคคล
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        เพิ่มเอกสาร Policy Doc
                                    </th>
                                    <td>
                                        <label class="text-success">
                                            ได้ 10 เอกสาร
                                        </label>
                                        (เพิ่มได้)
                                    </td>
                                </tr>
                                <tr>
                                    <th style="background-color: #ff95ca;">
                                        Cookie Consent การขอความยินยอมการเก็บข้อมูลเมื่อมีผู้เข้าเว็บไซต
                                    </th>
                                    <td>
                                        <label class="text-success">
                                            1 เว็บไซต์
                                        </label>
                                        (เพิ่มได้)
                                    </td>
                                </tr>
                                <tr>
                                    <th style="background-color: #ff95ca;">
                                        Paper Consent การขอความยินยอมและการยกเลิกความยินยอมอัตโนมัติในรูปเอกสารดิจิตอล
                                    </th>
                                    <td>
                                        <label class="text-success">
                                            ได้ 10 เอกสาร
                                        </label>
                                        (เพิ่มได้)
                                    </td>
                                </tr>
                                <tr>
                                    <th style="background-color: #ff95ca;">
                                        E-mail Consent การส่ง E-mail เพื่อความยินยอม รับทราบ รับทราบอย่างชัดเจน
                                        และการยกเลิกความยินยอมอัตโนมัติ
                                    </th>
                                    <td>
                                        <label class="text-success">
                                            จำกัดเดือนละ 30 ฉบับ
                                        </label>
                                        (เพิ่มได้)
                                    </td>
                                </tr>
                                <tr>
                                    <th style="background-color: #ff95ca;">
                                        Consent Management ระบบจัดการความยินยอมทั้งหมด
                                    </th>
                                    <td>
                                        <label class="text-success">
                                            ไม่จำกัด
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <th style="background-color: #ff95ca;">
                                        กำหนดมาตราการรักษาความปลอดภัยข้อมูลส่วนบุคคล
                                    </th>
                                    <td>
                                        <label class="text-success">
                                            มี
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        ⁃ กำหนดมาตราการรักษาความปลอดภัยสำหรับกิจกรรมรวบรวมจัดเก็บข้อมูลส่วนบุคคล
                                    </td>
                                    <td>
                                        <label class="text-success">
                                            ได้10 กิจกรรม
                                        </label>
                                        (เพิ่มได้)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        ⁃ กำหนดมาตราการรักษาความปลอดภัยสำหรับกิจกรรมใช้ข้อมูล เปิดเผย
                                        ส่งออกข้อมูลส่วนบุคคล
                                    </td>
                                    <td>
                                        <label class="text-success">
                                            ได้10 กิจกรรม
                                        </label>
                                        (เพิ่มได้)
                                    </td>
                                </tr>
                                <tr>
                                    <th style="background-color: #ff95ca;">
                                        ระบบการรับเรื่องร้องเรียน /การปฏิเสธข้อร้องเรียนจากเจ้าของข้อมูลส่วนบุคคล
                                    </th>
                                    <td>
                                        <label class="text-success">
                                            มี
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <th style="background-color: #ff95ca;">
                                        ระบบการบันทึกรายการกิจกรรมประมวลผลข้อมูลส่วนบุคคล (RoPA)
                                        อัตโนมัติสำหรับผู้ควบคุมข้อมูลส่วนบุคคล
                                    </th>
                                    <td>
                                        <label class="text-success">
                                            มี
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <th style="background-color: #ff95ca;">
                                        ระบบการส่งข้อมูลไปยังคณะกรรมการคุ้มครองข้อมูลส่วนบุคคล
                                        เมื่อมีการละเมิดข้อมูลส่วนบุคคลหรือถูกร้องขอ
                                    </th>
                                    <td>
                                        <label class="text-success">
                                            มี
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <th colspan="3">
                                        <h5>
                                            2.การอบรม PDPA เพราะทุกคนในหน่วยงานต้องเป็นผู้มีส่วนเกี่ยวข้องกับ
                                            ข้อมูลส่วนบุคคล การเรียน Onlineจะสะดวกสำหรับพนักงานทุกคน
                                        </h5>
                                    </th>
                                </tr>
                                <tr>
                                    <th style="background-color: #61d836;">
                                        เป็นคอร์ส Online
                                        เพื่อทำให้บุคคลกรในหน่วยงานทราบว่าควรปฏิบัติตามกฏหมายPDPAอย่างไร
                                    </th>
                                    <td>
                                        <label class="text-success">
                                            มี
                                        </label>
                                    </td>
                                </tr>
                                <tr>
                                    <th colspan="3">
                                        <h5>
                                            3.การให้คำปรึกษาเพราะการจัดเก็บ รวบรวม ใช้งาน
                                            และเปิดเผยของหน่วยงานแต่ละหน่วยงานมีความแตกต่างรวมถึงระบบคอมพิวเตอร์ที่ใช้เกี่ยวก้บข้อมูลส่วนบุคคลด้วย
                                        </h5>
                                    </th>
                                </tr>
                                <tr>
                                    <th style="background-color: #73fdea;">
                                        การให้คำปรึกษาทางด้าน PDPA
                                    </th>
                                    <td>
                                        ทาง Mail ตอบกลับภายใน 24 ชม*
                                        Meeting Online (เพิ่มได้)
                                    </td>
                                </tr>
                                <tr>
                                    <th style="background-color: #73fdea;">
                                        การให้คำปรึกษาทางด้าน GDPR และ DPO ของสหภาพยุโรป
                                    </th>
                                    <td>
                                        ทาง Mail ตอบกลับภายใน 24 ชม* (เพิ่มได้)
                                        Meeting Online (เพิ่มได้)
                                    </td>
                                </tr>
                                <tr>
                                    <th style="background-color: #73fdea;">
                                        การให้คำปรึกษาทางด้าน PDPA ประยุกต์กับระบบคอมพิวเตอร
                                    </th>
                                    <td>
                                        ทาง Mail ตอบกลับภายใน 24 ชม* (เพิ่มได้)
                                        Meeting Online (เพิ่มได้)
                                    </td>
                                </tr>
                                <tr>
                                    <th style="background-color: #73fdea;">
                                        การให้คำปรึกษาทางด้าน Security ระบบคอมพิวเตอร
                                    </th>
                                    <td>
                                        ทาง Mail ตอบกลับภายใน 24 ชม* (เพิ่มได้)
                                        Meeting Online (เพิ่มได้)
                                    </td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../_footer') -%>