<!DOCTYPE html>
<html dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 5 admin, bootstrap 5, css3 dashboard, bootstrap 5 dashboard, monster admin bootstrap 5 dashboard, frontend, responsive bootstrap 5 admin template, ">
    <meta name="description" content="monster is powerful and clean admin dashboard template">
    <meta name="robots" content="noindex,nofollow">
    <title> All Inclusive Security</title>
    <link rel="canonical" href="https://www.wrappixel.com/templates/monsteradmin/" />
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/UI/assets/images/favicon_bak.png">
    <!-- Custom CSS -->
    <link href="/UI/dist/css/style.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<script language="javascript">
    function init() {
        document.getElementById('username').focus();
    }
</script>

<body onLoad="init();">
    <div class="main-wrapper">
        <!-- -------------------------------------------------------------- -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- -------------------------------------------------------------- -->
        <div class="preloader">
            <svg class="tea lds-ripple" width="37" height="48" viewbox="0 0 37 48" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M27.0819 17H3.02508C1.91076 17 1.01376 17.9059 1.0485 19.0197C1.15761 22.5177 1.49703 29.7374 2.5 34C4.07125 40.6778 7.18553 44.8868 8.44856 46.3845C8.79051 46.79 9.29799 47 9.82843 47H20.0218C20.639 47 21.2193 46.7159 21.5659 46.2052C22.6765 44.5687 25.2312 40.4282 27.5 34C28.9757 29.8188 29.084 22.4043 29.0441 18.9156C29.0319 17.8436 28.1539 17 27.0819 17Z" stroke="#2962FF" stroke-width="2"></path>
          <path d="M29 23.5C29 23.5 34.5 20.5 35.5 25.4999C36.0986 28.4926 34.2033 31.5383 32 32.8713C29.4555 34.4108 28 34 28 34" stroke="#2962FF" stroke-width="2"></path>
          <path id="teabag" fill="#2962FF" fill-rule="evenodd" clip-rule="evenodd" d="M16 25V17H14V25H12C10.3431 25 9 26.3431 9 28V34C9 35.6569 10.3431 37 12 37H18C19.6569 37 21 35.6569 21 34V28C21 26.3431 19.6569 25 18 25H16ZM11 28C11 27.4477 11.4477 27 12 27H18C18.5523 27 19 27.4477 19 28V34C19 34.5523 18.5523 35 18 35H12C11.4477 35 11 34.5523 11 34V28Z"></path>
          <path id="steamL" d="M17 1C17 1 17 4.5 14 6.5C11 8.5 11 12 11 12" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke="#2962FF"></path>
          <path id="steamR" d="M21 6C21 6 21 8.22727 19 9.5C17 10.7727 17 13 17 13" stroke="#2962FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
        </div>
        <!-- -------------------------------------------------------------- -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- -------------------------------------------------------------- -->
        <!-- -------------------------------------------------------------- -->
        <!-- Login box.scss -->
        <!-- -------------------------------------------------------------- -->
        <div class="row auth-wrapper gx-0">
            <div class="col-12 d-flex align-items-center justify-content-center">
                <div class="row justify-content-center w-100 mt-4 mt-lg-0">
                    <div class="col-lg-4 col-xl-4 col-md-6">
                        <div class="card" id="loginform">
                            <div class="card-body">
                                <h1 class="text-center"><img src="/UI/assets/images/logo.png" width="128"></h1>
                                <div class="text-center text-muted fs-4">All Inclusive Security</div><br>
                                <div class="text-center fw-bold">การยืนยัน OTP ผ่าน E-mail</div>

                                <form class="form-horizontal mt-4 pt-3 needs-validation" novalidate action="/verify/email" method="post">
                                    <div class="d-flex align-items-center justify-content-center button-group">

                                        <div class="row">
                                            <div class="mb-3 row">
                                                <label class="col-sm-2 text-end control-label col-form-label text-secondary" for="sender"></label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control border border-info" name="otp_email" required>
                                                </div>
                                            </div>
                                            <div class="mb-3 row">
                                                <div class="col-sm-4">
                                                </div>

                                                <div class="col-sm-4 ">
                                                    <button type="submit" class="btn btn-success  btn-lg  waves-effect waves-light">ยืนยัน</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <p class="text-center fs-3"><a href="javascript:void(0)" id="xx">นโยบายคุ้มครองข้อมูลส่วนบุคคล</a> · <a href="javascript:void(0)" id="xx">ข้อตกลงผู้ใช้</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- -------------------------------------------------------------- -->
        <!-- Login box.scss -->
        <!-- -------------------------------------------------------------- -->
    </div>
    <!-- -------------------------------------------------------------- -->
    <!-- All Required js -->
    <!-- -------------------------------------------------------------- -->
    <script src="/UI/assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="/UI/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/UI/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="/UI/dist/js/pages/dashboards/dashboard1.js"></script>
    <script src="/UI/dist/js/feather.min.js"></script>
    <script src="/UI/dist/js/custom.min.js"></script>
    <script>
        $(".preloader").fadeOut();
        // ---------------------------
        // Login and Recover Password
        // ---------------------------
        $('#to-recover').on("click", function() {
            $("#loginform").hide();
            $("#recoverform").fadeIn();
        });

        $('#to-login').on("click", function() {
            $("#loginform").fadeIn();
            $("#recoverform").hide();
        });

        $('#to-register').on("click", function() {
            $("#loginform").hide();
            $("#registerform").fadeIn();
        });

        $('#to-login2').on("click", function() {
            $("#loginform").fadeIn();
            $("#registerform").hide();
        });


        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function(form) {
                    form.addEventListener('submit', function(event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script>
    <script>
        $(function() {
            "use strict";
            $("#main-wrapper").AdminSettings({
                Theme: true, // this can be true or false ( true means dark and false means light ),
                Layout: 'vertical',
                LogoBg: 'skin3', // You can change the Value to be skin1/skin2/skin3/skin4/skin5/skin6
                NavbarBg: 'skin2', // You can change the Value to be skin1/skin2/skin3/skin4/skin5/skin6
                SidebarType: 'full', // You can change it full / mini-sidebar / iconbar / overlay
                SidebarColor: 'skin3', // You can change the Value to be skin1/skin2/skin3/skin4/skin5/skin6
                SidebarPosition: true, // it can be true /  ( true means Fixed and false means absolute )
                HeaderPosition: true, // it can be true / false ( true means Fixed and false means absolute )
                BoxedLayout: false, // it can be true / false ( true means Boxed and false means Fluid )
            });
        });
    </script>
</body>

</html>