<%- include('../_header') -%>
<div class="page-breadcrumb">
    <div class="row">
        <div class="col-md-5 align-self-center">
            <h3 class="page-title">ข้อมูล Agent File/Log</h3>
            <div class="d-flex align-items-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/index2">หน้าหลัก</a></li>
                        <li class="breadcrumb-item">ข้อมูล Agent File/Log</a></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" id="file_log_ag">
    <!-- Row -->
    <div class="row">
        <!-- Column -->
        <div class="col-lg-6 col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">จำนวนไฟล์ทั้งหมด</h4>
                    <div class="text-end">
                        <h2 class="fw-light mb-0"><i class="ti-arrow-up text-success"></i>
                            <%= dir %>
                        </h2>
                        <span class="text-muted">ณ วันที่ <span id="today"></span></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-lg-6 col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">ขนาดไฟล์ทั้งหมดโดยเฉลี่ย</h4>
                    <div class="text-end">
                        <h2 class="fw-light mb-0"><i class="ti-arrow-up text-info"></i>
                            <span id="total-size"></span>
                        </h2>
                        <span class="text-muted">ณ วันที่ <span id="today1"></span></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Column -->
    </div>
    <!-- Row -->
    <!-- Row -->
    <div class="row">
        <!-- Column -->
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex flex-wrap">
                                <div>
                                    <h3>ช่วงเวลาที่ไฟล์มีการแก้ไข</h3>
                                    <h6 class="card-subtitle">ณ วันที่ <span id="today2"></span>
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div id="revenue-statistics"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Row -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="border-bottom title-part-padding">
                    <h4 class="card-title mb-0">รายการข้อมูล Agent File/Log<span class="text-secondary"></span></h4>
                </div>
                <div class="card-body">
                    <div class="row pb-3">
                        <div class="col-md-8">
                        </div>
                        <div class="col-md-4 justify-content-end align-self-center d-block d-md-flex">
                            <div class="input-group mb-2">
                                <a href="javascript:void(0);" id="refresh-cw" class="btn btn-outline-warning"><i data-feather="refresh-cw"></i></a>
                                <input list="browers" class="form-control" placeholder="ค้นหา.." name="search">
                                <datalist id="browers">
                                </datalist>
                                <button type="button" id="btn-search" class="btn btn-outline-warning"> Search </button>
                            </div>
                        </div>
                    </div>
                    <div id="class-table" class="table-responesive">
                        <table id="myTable" class="tablesaw no-wrap table-striped table-bordered table-hover table" data-tablesaw-mode="stack" data-tablesaw-sortable>
                            <thead>
                                <tr>
                                    <th data-tablesaw-priority="persist" class="border" style="width: 5%;">
                                        ลำดับ</th>
                                    <th scope="col" data-tablesaw-priority="1" class="border" style="width: 35%;">
                                        ชื่อไฟล์</th>
                                    <th scope="col" data-tablesaw-priority="2" class="border">
                                        นามสกุลไฟล์</th>
                                    <th scope="col" data-tablesaw-priority="3" class="border">
                                        ขนาดไฟล์</th>
                                    <th scope="col" data-tablesaw-priority="4" class="border">
                                        เวลา/วันที่ แก้ไขล่าสุด</th>
                                    <th scope="col" data-tablesaw-priority="5" class="border">
                                        ดูข้อมูล</th>
                                </tr>
                            </thead>
                            <tbody id="table-body">
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-6 text-secondary">
                            <span>แสดงผล <span id="start-file"></span> ถึง <span id="end-file"></span> ทั้งหมด <span id="total-file"> <%= dir %> </span>
                            รายการ</span>
                        </div>
                        <div class="col-md-6 justify-content-end align-self-center d-block d-md-flex">
                            <nav aria-label="Page navigation example" class="mt-2">
                                <ul class="pagination" id="pagination-wapper">
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="file_log_detail" class="modal fade" tabindex="-1" aria-labelledby="info-header-modalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="info-header-modalLabel">
                    ข้อมูลไฟล์จราจรหรือไฟล์เอกสาร
                </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-boardless">
                    <tr>
                        <th style="text-align: left; width: 40%;">ชื่อไฟล์</th>
                        <td style="text-align: left;"><span id="file_name"></td>
                    </tr>
                    <tr>
                        <th style="text-align: left; width: 40%;">นามสกุลไฟล์</th>
                        <td style="text-align: left;"><span id="file_extension"></td>
                    </tr>
                    <tr>
                        <th style="text-align: left; width: 40%;">ขนาดไฟล์</th>
                        <td style="text-align: left;"><span id="file_size"></td>
                    </tr>
                    <tr>
                        <th style="text-align: left; width: 40%;">เวลา/วันที่ แก้ไขล่าสุด</th>
                        <td style="text-align: left;"><span id="file_edit_date"></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">ปิด</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<script src="/UI/assets/libs/jquery/dist/jquery.min.js"></script>
<script>
    let today = new Date();
    let month = today.getMonth() + 1;
    let day = today.getDate();
    let hours = today.getHours();
    let minute = today.getMinutes();
    if(String(month).length == 1){
        month = "0"+String(month)
    }
    if(String(day).length == 1){
        day = "0"+String(day)
    }
    if(String(hours).length == 1){
        hours = "0"+String(hours)
    }
    if(String(minute).length == 1){
        minute = "0"+String(minute)
    }
    document.getElementById('today').innerHTML = day + "/" + month + "/" + today.getFullYear() + " " + hours + ":" + minute
    document.getElementById('today1').innerHTML = day + "/" + month + "/" + today.getFullYear() + " " + hours + ":" + minute
    document.getElementById('today2').innerHTML = day + "/" + month + "/" + today.getFullYear() + " " + hours + ":" + minute
</script>
<%- include('../_footer') -%>
