<%- include ("../../_header") %>
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-5 align-self-center">
                <h3 class="page-title">การส่งข้อมูลไปยังคณะกรรมการ</h3>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/management/cookies">หน้าหลัก</a></li>
                            <li class="breadcrumb-item">การส่งข้อมูลไปยังคณะกรรมการ</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="card">
            <div class="border-bottom title-part-padding">
                <div style="justify-content:start" class="align-items-center d-none d-md-flex">
                    <h4 class="card-title mb-0">การส่งข้อมูลไปยังคณะกรรมการ</h4>
                </div>
            </div>
            <div class="card-body">
                <div class="row pb-3">
                    <div class="col-md-5 justify-content-start align-items-center d-none d-md-flex" id="limit">
                        <a class="btn btn-success" id="inbox-email" href="/inbox-email-board">
                            <i class="fas fa-plus"></i>
                            เขียน E-mail</a>
                    </div>
                    <div class="col-md-7 justify-content-start align-items-center d-none d-md-flex">
                        <div class="input-group mb-2 ">
                            <a class="btn btn-outline-warning" id="reface"><i data-feather="repeat"></i></a>
                            <input class="form-control" type="date" value="" id="firstDay">
                            <span class="input-group-text" id="basic-addon1">ถึง</span>
                            <input class="form-control" type="date" value="" id="lastDay">
                            <input type="text" class="form-control" placeholder="ค้นหา.." aria-label="" value=""
                                id="Srearch" aria-describedby="button-addon2">
                            <button class="btn btn-outline-warning" type="button" id="button-Srearch"><i
                                    class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
                <!---------------------------  table setdate  ---------------------------->
                <div style="min-height: 470px;" class="table-responsive">
                    <div id="table_Data_Email_consent">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6 text-secondary ">
                        <div class="row">
                            <span>แสดงผล <a id="show"></a> ถึง <a id="to_show"></a> ทั้งหมด <a id="show_all"></a>
                                รายการ</span>
                        </div>
                    </div>
                    <div class="col-md-6 justify-content-end align-self-center d-block d-md-flex">
                        <nav aria-label="Page navigation example" class="mt-2">
                            <ul class="pagination">
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .disabled-href {
            opacity: .65;
            pointer-events: none;
            box-shadow: none;
        }
    </style>
    <script src="/dist/js/views_js/email/email_board.js"></script>
    <%- include ("../../_footer") %>