<%- include('../_header') -%>
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-md-5 align-self-center">
                <h3 class="page-title">การใช้งานรูปแบบ</h3>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/index">หน้าแรก</a></li>
                            <li class="breadcrumb-item"><a href="/pattern">กำหนดรูปแบบข้อมูล</a></li>
                            <li class="breadcrumb-item active" aria-current="page">การใช้งานรูปแบบ</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid" id="used">
        <!-- Row -->
        <div class="row">
            <div align='center'>
                <img src='/UI/assets/images/underconstruction1.png' style="width: 60%; ;">
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <script src="/UI/assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- <div align = 'center' >
        <img src='/UI/assets/images/underconstruction1.png' style="width: 60%; ;">
    </div> -->
    <%- include('../_footer') -%>
